.cards-section {
    display: flex;
    flex-direction: column;
}

.cards__wrapper,
.sales-cards__wrapper {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: $margin;
    gap: $margin;
}
.card {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-width: 200px;
    // padding: $min-padding;
    position: relative;
    border-radius: $radius;
    cursor: pointer;
    transition: $transition;


    &-main {
        position: relative;
    }

    &__img {
        width: 100%;
        height: 15vw;
        border-radius: $radius;
        object-fit: cover;
    }

    &__title {
        font-weight: bold;
        font-size: 1.4em;
        margin: 12px 0px 8px;
    }

    &__info {
        color: $light-text;
        line-height: 1.5em;
    }

    &__price {
        font-weight: bold;
        font-size: 1.4em;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        // align-items: center;
        margin-top: 12px;
    }

    &__rating {
        display: flex;
        padding: 0px $min-padding;
        font-weight: bold;
        border-radius: $radius;
        font-size: 1em;

        &-number {
            display: flex;
            align-items: center;
            margin-top: 2px;
        }
    }

    &__cart-btn {
        // border-color: $green;
        border: 3px solid $green;
        font-size: 0.9em;
        background-color: $white;
    }
}


.likes {
    position: absolute;
    bottom: $min-padding;
    left: $min-padding;
    background-color: $white;
    display: flex;
    align-items: center;
    padding: $min-padding;
    border-radius: $radius;
    cursor: pointer;
    transition: $transition;

    &__like {
        background: url(../img/icons/like.svg) no-repeat center;
        background-size: contain;
        width: 24px;
        height: 24px;
        transition: $transition;
        cursor: pointer;

        &:hover,
        &.clicked {
            background: url(../img/icons/hover-like.svg) no-repeat center;
            background-size: contain;
        }
    }
}


.card:hover .card__cart-btn,
.card__cart-btn_active {
    background-color: $green;
    color: $white;
}

@media(max-width: 1440px) {
    .card__bottom {
        flex-direction: column;
        gap: $min-padding;
    }

    .card {
        padding: 0px;
        border-radius: 15px;

        &:hover {
            background-color: $white;
        }

        &__img {
            border-radius: 15px;
        }

        &__title {
            margin: 6px 0px 4px;
        }
    }

    .cards__wrapper,
    .sales-cards__wrapper {
        overflow-x: scroll;
        overflow-y: hidden;
        gap: calc($margin / 2);
    }
}

@media(max-width: 1024px) {
    .card {
        min-width: 220px;

        &__img {
            height: 20vw;
        }
    }
}

@media(max-width: 768px) {
    .card {
        min-width: 180px;

        &__img {
            min-height: 25vw;
        }
    }
}

@media (max-width: 600px) {
    .cards__wrapper,
    .sales-cards__wrapper {
        gap: $min-padding;
    }
    .card {
        &__img {
            min-height: 35vw;
        }
    }
}

@media (max-width: 480px) {
    .card {
        &__title {
            font-size: 1.2em;
        }
        &__img {
            min-height: 45vw;
        }
    }
}