.header {
    display: flex;
    flex-direction: column;

    color: $white;

    position: fixed;
    z-index: 5;
    width: 100%;

    &__top {

        background-color: $orange;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: calc($min-padding / 2);
        padding-bottom: calc($min-padding / 2);


        transition: top $transition;
        position: absolute;
    }

    &__bottom {
        background-color: $light;
        color: $black;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: $min-padding;
        padding-bottom: $min-padding;

        top: 100%;


        transition: top $transition;
        position: absolute;
    }
}

.logo {
    display: flex;
    align-items: center;
    margin-right: $gap*2;


    &__img {
        position: absolute;
        top: 6px;
        left: 0;
        width: 100%;
    }

    &__anim {
        position: relative;
    }

    &__link {
        margin-right: $gap;
        position: relative;



        &:hover .logo__img {
            visibility: hidden;
        }
    }

    &__title {
        display: flex;
        flex-direction: column;
        line-height: 18px;
    }

    &__first-line {
        font-weight: bold;
    }
}

.nav-static {
    display: flex;
    align-items: center;

    &__menu {
        display: flex;

        &-item a {
            padding: 10px 22px;
            border-radius: $radius;
            transition: $transition;
        }

        &-item:hover a {
            background-color: rgba(255, 193, 0, 0.5);
        }
    }
}



.burger-btn {
    display: none;
    cursor: pointer;
}

.header-btns {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-end;
    gap: $min-padding;


    &__secondary {
        background-color: transparent;

    }

    &__primary {

    }

    &__btn {
        border: $borderThickness solid transparent;
        background-color: transparent;

    }
}






.burger-menu {
    color: $black;
    position: absolute;
    background-color: $white;
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition: $transition;
    top: 50px; 

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: $min-padding;
    }

    &__nav-wrapper {
        flex: 1 1 auto;
    }

    &__nav {
        border-bottom: 1px solid $border;
        padding: $min-padding 0;

        &-item {
            padding: $min-padding;
        }

        &-title {
            font-weight: bold;
            font-size: 1.2em;
            padding-top: $min-padding;
        }
    }

    &__social-links {
        display: flex;
        justify-content: space-between;
        padding: $min-padding 0;
    }

    &__bottom {
        padding-top: $min-padding;
        border-top: 1px solid $border;
        color: $light-text;
        font-size: 0.8em;
        line-height: 1.2em;
    }

    .header-btns {
        padding: $min-padding 0px;
        justify-content: flex-start;
        flex-wrap: wrap;
        display: none;
    }
}

.menu-active {
    transform: translateX(0px);
}

.search__link {
    display: inline-block;
    padding: 7px 8px;
    background-color: transparent;
    border: none;
}

@media(max-width: 1440px) {
    .header .nav-static__menu {
        display: none;
    }

    .burger-btn {
        display: block;
    }
}

@media(max-width: 1024px) {
    .container {
        padding: calc($min-padding / 2) calc($margin / 2) ;
    }

    .logo__title {
        display: none;
    }


}

@media(max-width: 768px) {



    .header__top {
        padding-top: $min-padding/2;
        padding-bottom: $min-padding/2;
    }

    .logo__img {
        top: 6px;
    }




    .header .header__top .header-btns {

        &__primary,
        &__secondary {
            display: none;
        }
    }

    .burger-menu .header-btns {
        display: flex;
        width: 100%;
        gap: $gap/2;
        padding: $min-padding 0px;
        font-weight: bold;
    }

    .logo__title {
        display: flex;
    }

}

@media (max-width: 600px) {
    .logo__title {
        display: none;
    }

    .logo {
        margin: 0;

        &__link {
            margin: 0;
        }
    }

    .logo {
        img {
            width: 95%;
        }
    }


}

@media (max-width: 360px) {
    .search__link {
        display: none;
    }
    .header-btns{
        gap: 0;
    }
}