.main {
    margin-top: 200px;
    width: 100%;
}

.other-main {
    margin-top: calc($margin * 4);
}



.hero-img__wrapper {
    height: 70vh;
    margin-top: 10%;

    img {
        width: 100%;
        height: 100%;
        border-radius: $radius;
        object-fit: cover;
        object-position: 75% 0%;
    }
}

.hero-block {
    display: flex;
    flex-direction: column;

    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;

        gap: 1vw;
    }

    &__paragraph {
        width: 25%;
        gap: calc($margin / 2);
        display: flex;
        flex-direction: column;
    }
}

.hero-paragraph__wrapper {

    .hero-block__paragraph {
        width: 42%;
    }
}

.hero-paragraphs {
    display: flex;
    gap: $margin;
    margin-top: 5vh;
}

.hero-title__wrapper {
    display: flex;
    flex-direction: column;
    gap: $margin;
}

.hero-btns {
    display: flex;
    gap: calc($margin / 2);

    a,
    p {
        margin: 0;

    }
}


.hero-title {

    &__bar {
        position: relative;

        &:after {
            content: '';
            display: block;
            position: absolute;
            height: 90%;
            width: 100%;
            background-color: $yellow;
            border-radius: 18px;
            right: 0;
            top: 0;
            z-index: -1;
            transform: rotate(2.6deg);
        }

        &:hover:after {
            animation: boncyBar $transition;

        }
    }
}

@keyframes boncyBar {
    50% {
        transform: rotate(-4deg);
    }
}


.section {
    margin-bottom: $max-margin;
    width: 100%;
    display: flex;
    flex-direction: column;

    &-title {
        font-weight: bold;
        margin-bottom: $margin;
    }

    &-btn {
        margin: 0 auto;
        font-weight: bold;
        color: $white;

        &:hover {
            animation: boncyBar $transition;
            color: $black;
        }
    }
}

.secondary-btn {
    background-color: transparent;
    color: $black;
}



.category-cards__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: $gap;
    width: 100%;
    align-items: stretch;
}

.category-card {
    height: 65vh;
    flex-grow: 1;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: $gap;
    width: 20vw;
    padding: $min-padding;
    border-radius: $radius;

    &:hover {
        animation: boncyBar $transition;
    }


    &:nth-child(1) {
        background: url(../img/category1.svg) left center;
        background-size: cover;
    }

    &:nth-child(2) {
        background: url(../img/category2.svg) left center;
        background-size: cover;
    }

    &:nth-child(3) {
        background: url(../img/category3.svg) left center;
        background-size: cover;
    }

    &:nth-child(4) {
        background: url(../img/category4.svg) left center;
        background-size: cover;
    }

    &__info {
        background-color: $white;
        padding: 12px 24px;
        border-radius: $radius/2 $radius/2 0px 0px;
        position: absolute;
        bottom: 0;
        width: 80%;
        height: 40%;
    }

    &__title {
        font-weight: bold;
        margin: $min-padding 0px;
    }

}

.benefits-section {

    &-top,
    &__paragraph {
        margin: 0 auto;
        text-align: center;
        margin-bottom: $margin;
    }

    &-bottom {
        display: flex;
        justify-content: space-between;
    }

}


.benefits-blocks {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    justify-content: space-around;
}


.benefits-block {
    width: 18vw;
    margin: $margin / 2;

    &__title {
        font-weight: bold;
        margin-bottom: $margin / 2;
    }

    &__text {
        line-height: 1.4em;
    }

    &__link {
        display: inline-block;
        color: $light-text;
        margin-top: $margin / 2;
    }

}

.benefits-img-wrapper {
    height: 50vh;

    img {
        width: 100%;
        height: 100%;
        border-radius: $radius;
        object-fit: cover;
        object-position: 35% 35%;
    }
}

.sales-cards__wrapper {
    gap: $margin;
}

.sale-card {
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;

    &__img-wrapper {
        width: 100%;
        height: 30vh;

        img {
            width: 100%;
            height: 100%;
            border-radius: $radius;
            object-fit: cover;
            object-position: top;
        }
    }

    &__title {
        font-weight: bold;
        margin: 12px 0px 8px;
    }

    &__info {
        line-height: 1.4em;
    }
}

.search-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto $max-margin;
    text-align: center;
    background-size: cover;
}

.search-input {
    width: 100%;

    &__wrapper {
        display: flex;
        align-items: center;
        border: $borderThickness solid $yellow;
        padding: $padding;
        border-radius: 50px;
        cursor: pointer;
        background-color: $white;
        width: 30%;
    }

    &__icon {
        margin-right: $min-padding;
    }
}

.search-tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: $margin;
    width: 40%;
    justify-content: center;
}

.tag {
    background-color: $white;
    padding: $padding;
    border-radius: $radius;
    border: $borderThickness solid $light;
    margin: 4px 8px;
    cursor: pointer;



    &:hover {
        background-color: rgba(243, 243, 243, 0.5);
        animation: boncyBar $transition;
    }
}



.taste-block__wrapper {
    display: flex;
    margin-bottom: $margin;
    justify-content: space-between;
    flex-wrap: wrap;
}

.taste-block__group {
    display: flex;
    flex-direction: column;
}

.taste-block {
    display: flex;
    align-items: center;
    padding: $min-padding;
    cursor: pointer;
    transition: .2s ease;

    &__img {
        width: 6vw;
        border-radius: $radius;
        margin-right: $min-padding;
    }

    &__title {
        font-weight: bold;
        margin-bottom: $min-padding;
        width: 100%;
    }

}

.modal {
    &_wrapper {
        opacity: 0;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(0);
        transition: opacity .2s;
        z-index: 100;
    }

    &_window {
        max-width: 75%;
        background-color: $white;
        opacity: 0;
        display: flex;
        justify-content: space-between;
        gap: calc($margin * 4);
        padding: calc($margin * 2);
        border-radius: $radius;
        transform: translateY(-10%);
        transition: $transition;
        transition-delay: .2s;
        margin: 0 auto;
    }

    &-title__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        gap: $margin;
    }

    &_likes {
        display: flex;
        align-items: center;
    }

    &_img {
        border-radius: $radius;
        width: 50%;
        object-fit: cover;
    }

    &_info {
        max-width: 60%;
    }

    &_tag {
        display: inline-block;
        color: $light-text;
        margin-bottom: calc($margin / 2);
    }

    &_block {
        &__bottom {
            display: flex;
            justify-content: space-between;
            margin-top: calc($margin * 2);
            width: 100%;
        }

        &__price {
            font-weight: bold;
        }
    }
}

s {
    color: $light-text;
    margin-bottom: 8px;
}

.is-open>.modal_window {
    opacity: 1;
    transform: translateY(0);
}



.modal_close_button {
    position: absolute;
    top: 0;
    right: 0;
    margin: $margin;
    cursor: pointer;
}

.modal_tastes-blocks__wrapper,
.sales-blocks__wrapper {
    display: flex;
    gap: calc($margin / 2);
    margin-bottom: calc($margin * 1.5);
    max-width: 100%;
    overflow-x: scroll;
}

.modal_taste-block,
.sale-block {
    padding: 8px 24px;

    border-radius: $radius;
    background-color: $light;
}

.sale-block {
    color: $white;
    font-weight: bold;

    &__type {
        background-color: $yellow;
    }

    &__sale {
        background-color: $green;
    }
}

.is-open {
    opacity: 1;
    transform: scale(1);
}


.contacts-info__wrapper {
    display: flex;
    gap: calc($margin * 2);
}

.contacts-block__info {
    width: 20vw;
}

.ymap {
    border-radius: $radius;
    width: 100%;
}

.map-block__wrapper {
    width: 100%;

    .address-blocks__wrapper {
        margin-bottom: $margin;
        row-gap: calc($margin / 2);
        line-height: 1.4em;
    }
}

.contacts-block__info {
    display: flex;
    flex-direction: column;
    gap: $margin;
    min-width: 25vw;

    .section-paragraph {
        margin-bottom: $margin;

    }
}

.other-contacts__wrapper {
    display: flex;
    flex-direction: column;
    gap: $margin;
    line-height: 1.4em;
}

.history-blocks__wrapper {
    display: flex;
    gap: $margin;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding-bottom: $margin;
    border-bottom: $borderThickness solid $orange;
    position: relative;

}

.history-block {
    min-width: 450px;

    &__title {
        font-weight: bold;
        margin-bottom: calc($margin / 2);
    }

    &__info {
        line-height: 1.2em;
    }
}



/*////////////////////////////////////////////////////////////////*/

@media (max-width: 1440px) {
    .category-card {
        width: 30vw;
        height: 30vh;
        justify-content: center;
        display: flex;
        align-items: center;

        &__info {
            right: 0;
            // top: 50%;
            width: 40%;
            height: 100%;
            border-radius: 0px 0px $radius/2 0px;
        }
    }

    .ymap {
        height: 400px;
    }

    .benefits-block {
        width: 15vw;
    }

    .benefits-img-wrapper {
        width: 45%;
    }

    .taste-block__group {
        gap: $margin ;
    }

    .modal {
        &_window {
            padding: calc($margin * 2);
            gap: calc($margin * 3);
        }
    }
}





@media (max-width: 1024px) {

    .hero-btns {
        justify-content: center;
    }

    .benefits-section {
        &-bottom {
            flex-direction: column-reverse;
        }

    }

    .hero-paragraph__wrapper {
        gap: 2vw;
        align-items: center;

        .hero-block__paragraph {
            text-align: left;
        }
    }

    .hero-paragraphs {
        justify-content: center;
        margin: 5vh 0px;
    }

    .benefits-blocks {
        width: 100%;
        flex-wrap: nowrap;
        // justify-content: space-between;
    }

    .benefits-img-wrapper {
        width: 100%;
    }

    .benefits-block {
        width: 100%;
        margin-top: $margin;
    }

    .category-card {
        width: 40vw;

        &__info {
            width: 60%;
        }
    }

    .section {
        margin-bottom: $max-margin/2;
    }

    .hero-block {
        text-align: center;

        &__info {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: $margin;
            // margin-bottom: $max-margin/2;
        }

        &__paragraph {
            width: 60%;
        }
    }

    .hero-title__bar::after {
        border-radius: 12px;
    }

    .taste-block {
        padding: 0;

        &__img {
            width: 8vw;
        }
    }

    .search-input {
        &__wrapper {
            width: 50%;
        }
    }

    .search-tags {
        width: 50%;
    }

    .modal {
        &_window {
            flex-direction: column;
            gap: $margin;
        }

        &_img {
            width: 100%;
            height: 30vh;
        }
    }

    .contacts-info__wrapper {
        flex-direction: column;
        gap: $margin;

        .contacts-block__info {
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;


            .section-paragraph {
                max-width: 42vw;
                flex-direction: column;
                margin-right: 10%;
            }
        }
    }

    .other-contacts__wrapper {
        flex-direction: row;
        gap: calc($margin * 2);
    }

    .map-block__wrapper {
        display: flex;
        flex-direction: row;

        .address-blocks__wrapper {
            flex-direction: column;
            width: 35vw;
            row-gap: $margin;
        }
    }

    .ymap {
        height: 450px;
    }
}

@media (max-width: 768px) {
    .hero-title {
        font-size: 3.5em;
    }

    .benefits-block {
        width: 40%;
    }

    .benefits-blocks {
        flex-wrap: wrap;
    }

    h2 {
        //.section-title
        font-size: 2em;
    }

    .main {
        margin-top: 150px;
    }

    .category-card__info {
        width: 70%;
    }

    .sale-card {
        width: 100%;
    }

    .other-main {
        margin-top: calc($margin * 3);
    }

    .taste-block {
        &__img {
            width: 12vw;
        }
    }

    .search-tags {
        width: 100%;
    }


    .sales-cards__wrapper {
        display: flex;
        flex-direction: column;
        gap: $margin !important;
    }

    .sale-card__img-wrapper {
        height: 40vh;
    }

    .taste-block__group:last-child {
        display: none;
    }

    .modal {
        &_window {
            padding: $margin;
        }
    }

    .hero-paragraphs {
        flex-direction: column;
        text-align: center;
    }

    .hero-paragraph__wrapper {
        .hero-block__paragraph {
            text-align: center;
            margin: 0 auto;
            width: 80%;
        }
    }

    .contacts-block__info {
        flex-direction: column;
        width: 100%;
        padding-bottom: $margin;
        border-bottom: 1px solid $border;
    }

    .map-block__wrapper {
        flex-direction: column;

        .address-blocks__wrapper {
            flex-direction: row;
            width: 100%;
        }
    }

    .section-paragraph {
        min-width: 100%;
    }
}

@media (max-width: 600px) {
    .category-card {
        width: 100%;
        border-radius: $radius/2;
        height: 20vh;

        &__info {
            width: 40%;
        }
    }

    .hero-img__wrapper img {
        border-radius: $radius/2;
    }

    .category-cards__wrapper {
        gap: $min-padding;
    }

    .search-input {
        &__wrapper {
            width: 95%;
        }
    }

    .modal {
        &_window {
            max-width: 95%;
        }
    }

    // .taste-block {
    //     &__title {
    //         margin-bottom: calc($min-padding / 2);
    //     }

    //     &__img {
    //         width: 14vw;
    //         border-radius: calc($radius / 2);
    //     }
    // }

    .taste-block {
        width: 45vw;

        &__img {
            width: 16vw;
        }
    }

    .taste-block__wrapper {
        justify-content: flex-start;
        gap: $margin;
    }

    .taste-block__group {
        &:last-child {
            display: flex;
        }
    }

}

@media(max-width: 480px) {

    .hero-img__wrapper {
        height: 60vh;
    }

    .hero-title {
        font-size: 2.2em;
    }

    .hero-paragraph__wrapper {
        .hero-block__paragraph {
            width: 95%;
        }
    }

    .category-card {

        height: 25vh;

        &__info {
            width: 60%;
        }
    }

    .sale-card__img-wrapper {
        height: 30vh;
    }

    h3 {
        //&__title
        font-size: 1.2em;
    }

    h6 {
        //&__subtitle
        font-size: 1em;
    }

    h2 {
        //.section-title
        font-size: 1.8em;
    }



    .main {
        margin-top: 120px;
    }

    .other-main {
        margin-top: calc($margin * 3);
    }

    .hero-block__paragraph {
        width: 90%;
    }



    .modal_tastes-blocks__wrapper,
    .sales-blocks__wrapper {
        gap: calc($margin / 2);
        margin-bottom: calc($margin / 2);
    }

    .modal {
        &_window {
            gap: calc($margin / 2);
        }

        &_tag {
            font-size: 0.8em;
        }

        &_info {
            margin-top: $margin;
            max-width: 100%;
        }
    }

    .modal_taste-block,
    .sale-block {
        font-size: 0.8em;
    }

    .history-block {
        min-width: 450px;
    }
}

@media(max-width: 360px) {
    .taste-block__wrapper {
        justify-content: space-between;
        gap: 0px;
    }

    .taste-block__group {
        margin-bottom: $margin;
    }

    .benefits-block {
        width: 100%;
    }


}